.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modeToggle {
    margin-top: 1em;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #0070f3;
    text-decoration: none;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
}

.active {
    background-color: #0070f3;
    box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
    color: white;
}

.card.active:hover,
.card.active:focus,
.card.active:active {
    color: white;
    cursor: pointer;
    border-color: unset;
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgba(0, 118, 255, 0.23);
    transition: 0.15s ease, border-color 0.15s ease;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

/* input */
.input-container {

}

.label {
    margin-right: 1em;
}

.input {
    border: 1px solid #eaeaea;
    padding: 0.5em;
    font-size: 1.2em;
    outline-color: #0070f3;
    outline-width: 1px;
}

@media screen and (max-width: 960px) {
    .input {
        font-size: 1rem;
    }
}

.btn, .btn:focus {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 7px;
    color: rgb(0, 112, 243);
    font-size: inherit;
    transition: background 0.2s ease 0s, color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    outline: none;
    border: solid #0070f3 1px;
    background: white;
}

.btn.active {
    background-color: #0070f3;
    color: rgba(255, 255, 255, 0.9);
}

.btn.active:hover {
    color: #0070f3;
    background: white;
}

.form {

}

.form .input {
    margin-bottom: 1em;
}

.form .form-submit {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.form .form-submit .btn {
    width: 100%;
}

.form .form-submit .btn:first-child {
    border-radius: 7px 0 0 7px;
}

.form .form-submit .btn:last-child {
    border-radius: 0 7px 7px 0;
}


.result {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}

/*logo*/
.logo {

}

.logo svg {
    margin-left: 0.5em;
    width: 1em;
    height: auto;
}

.logo {
    padding: 1em;
    --border-width: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    border-radius: var(--border-width);
}

.logo::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.darkMode {
    filter: invert(100%);
    background-color: black;
}